<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1> Add Student </h1>
<form method="POST">

    <label> Name </label>
    <input type="text" name="name" required>


    <label> Year Group </label>
    <input type="text" name="year_group" required>

    <label> Exam Board </label>
    <input type="text" name="exam_board">

    <label> Grade </label>
    <input type="text" name="grade">

    <button type="'submit">Add Student</button>

</form>

<a href="/students">Back To Students</a>

</body>

</html>